@use "../variables";

.button {
  display: block;
  background-color: variables.$blue;
  color: variables.$white;
  border: 1px currentColor solid;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color, color 0.15s;
  text-align: center;

  &:hover {
    background: variables.$white;
    color: variables.$blue;
  }

  &.white {
    background-color: variables.$white;
    color: variables.$blue;
  }
}
