@use "../variables";

.field {
  width: 100%;

  .field--title {
    color: variables.$dark-gray;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
  }

  .field--input {
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: variables.$black;
    border-bottom: 1px variables.$blue solid;
    padding: 7px 0;
    width: inherit;
  }
}
