@use "../variables";

.return-back {
  background: variables.$light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .return-back--link {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    background: variables.$blue;
    border: 1px solid variables.$blue;
    color: variables.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
      color: variables.$blue;
      background: variables.$white;
      border-color: variables.$blue;
    }
  }

  .return-back--icon {
    width: 60%;
  }
}
