<div class="error-template">
    <h1 class="error-template--title">{{code}}</h1>
    <p class="error-template--description">{{description}}</p>
    {{>link title="Назад к чатам" class="error-template--link text-blue"}}
</div>
