<div class="return-back {{class}}">
    <button class="return-back--button" onclick="window.history.go(-1);">
        <svg class="return-back--icon" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="13" y="6.80005" width="11" height="1.6" transform="rotate(-180 13 6.80005)" fill="currentColor"/>
            <path d="M6 11L2 6L6 1" stroke="currentColor" stroke-width="1.6"/>
        </svg>
    </button>
</div>
