@use "../variables";
@use "../mixins";

.profile {
  display: grid;
  grid-template-columns: 65px 1fr;
  justify-content: center;

  .profile--content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 60px 0;
  }

  .profile--avatar {
    margin: 0 auto;
  }

  .profile--name {
    display: block;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: variables.$black;
  }

  .profile--list {
    display: block;
    margin-top: 60px;

    li {
      list-style: none;
      padding: 10px 0;
      border-bottom: 1px solid variables.$gray;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
