<div class="authorization">
    <h1 class="authorization--title">Регистрация</h1>

    <form class="form authorization--form">
        <div class="form--content">
            {{#each FieldsArray}}
                {{{this}}}
            {{/each}}
        </div>

        <div class="form--control">
            {{#each LinksArray}}
                {{{this}}}
            {{/each}}
        </div>
    </form>
</div>
