<div class="chat-list-item">
    <div class="chat-list-item--img"></div>

    <div class="chat-list-item--content">
        <b class="chat-list-item--name">{{name}}</b>
        <p class="chat-list-item--text">{{text}}</p>
    </div>

    <div class="chat-list-item--info">
        <p class="chat-list-item--time">{{time}}</p>
        {{#if count}}
            <p class="chat-list-item--count">{{count}}</p>
        {{/if}}
    </div>
</div>
