<div class="profile">
    {{>returnBack }}

    <div class="profile--content">
        {{>avatarModule name="avatar" class="profile--avatar"}}
        <h1 class="profile--name">Иван</h1>

        <ul class="profile--list">
            <li>{{>profileInfoEdit title="Старый пароль" type="password" name="oldPassword" edit="true" }}</li>
            <li>{{>profileInfoEdit title="Новый пароль" type="password"  name="newPassword" edit="true" }}</li>
            <li>{{>profileInfoEdit title="Повторите новый пароль" type="password" name="repeatPassword" edit="true" }}</li>
        </ul>

        {{>button title="Сохранить данные" class="margin-0-auto"}}
    </div>
</div>
