<div>
    {{>link title="login" class="button" href='/login'}}
    {{>link title="registration" class="button" href='/registration'}}
    {{>link title="404" class="button" href='/404'}}
    {{>link title="500" class="button" href='/500'}}
    {{>link title="chat" class="button" href='/chat'}}
    {{>link title="profile" class="button" href='/profile'}}
</div>
