<div class="authorization">
    <h1 class="authorization--title">Вход</h1>

    <form class="authorization--form">
        {{>field name="login" title="Логин"}}
        {{>field name="password" type="password" title="Пароль"}}
    </form>

    <div class="authorization--control">
        {{>link title="Авторизоваться" href='chat' class="button w-100"}}
        {{>link title="Нет аккаунта?" href='registration' class="button w-100 white no-border"}}
    </div>
</div>
