<div class="authorization">
    <h1 class="authorization--title">Регистрация</h1>

    <form class="authorization--form">
        {{>field name="email" title="Почта"}}
        {{>field name="login" title="Логин"}}
        {{>field name="name" title="Имя"}}
        {{>field name="surname" title="Фамилия"}}
        {{>field name="phone" title="Телефон"}}
        {{>field name="password" type="password" title="Пароль"}}
        {{>field name="password-2" type="password" title="Пароль (ещё раз)"}}
    </form>

    <div class="authorization--control">
        {{>link title="Зарегистрироваться" href='/chat' class="button w-100"}}
        {{>link title="Войти" href='/login' class="button w-100 white no-border"}}
    </div>
</div>
