@use "../../styles/variables";

.chat-area {
  display: flex;
  align-items: center;
  justify-content: center;

  &--hint {
    font-weight: 500;
    font-size: 14px;
    color: variables.$dark-gray;
    max-width: 500px;
    text-align: center;
  }
}

