@use "../variables";
@use "../mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

input, button {
  border: 0;
  outline: 0;
}

.w-100 {
  width: 100%;
}

.no-border {
  border: 0 !important;
}

.margin-0-auto {
  margin: 0 auto;
}
