@use "../variables";

.text-white {
  color: variables.$white !important;
}

.text-black {
  color: variables.$black !important;
}

.text-blue {
  color: variables.$blue !important;
}

.text-light-blue {
  color: variables.$light-blue !important;
}

.text-gray {
  color: variables.$gray !important;
}

.text-light-gray {
  color: variables.$light-gray !important;
}

.text-dark-gray {
  color: variables.$dark-gray !important;
}

.text-red {
  color: variables.$red !important;
}
